<% provide(:title, @product.name) %>
<div class="row">
  <aside class="col-md-6">
    <section class="product_info">
      <h1>
        <%= @product.name %>
      </h1>
      <p>Description: <%= @product.description %></p>
      <p>Price: $<%= @product.price %></p>
    </section>
  </aside>
</div>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-6">
      <section class="review_form">
        <%= render 'shared/review_form' %>
      </section>
    </aside>
  </div>
<% end %>

<div class="row">
  <aside class="col-md-6">
    <% if @product.reviews.any? %>
     <h3>Reviews (<%= @product.reviews.count %>)</h3>
    <ol id="reviews">
      <%= render @product.reviews %>
    </ol>
    <% end %>
  </aside>
</div>
